/* --- CLEARFIX --- */
html {
  height: 100%;
}
html body {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: medium;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei";
  background: white;
  color: rgba(50, 50, 50, 0.8);
  background-color: #eeeeee;
}
#header {
  width: 960px;
  height: 128px;
  *zoom: 1;
}
#header:before,
#header:after {
  display: table;
  line-height: 0;
  content: "";
}
#header:after {
  clear: both;
}
#header .item1 {
  display: inline-block;
  width: 120px;
  border: 1px solid yellow;
}
#header .item2 {
  display: inline-block;
  width: calc(100% - 120px);
  border: 1px solid red;
}
#btn {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 30px;
  left: 0;
  top: 500px;
}
/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}
/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}
